.product{
    display: flex;
    flex-wrap: wrap;
}

.product-img{
    flex: 1 1 auto;
    width: 100%;
}

.product-img img{
    height: 100%;
    width: 100%;
}

.prod-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-top: 350px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 5px #000;
    opacity: 0.8;   
}
 
.prod-description h1,p{
    margin-left: 20px;
    margin-right: 20px;
}
.prod-description h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
.prod-description p{
    text-align: center;
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
}

.product-img{
    width: 300px;
    height: auto;
    margin-right: 20px;
}
form{
    display: flex;
    margin-left: 20px;
    font-size: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.prod-description button[type="submit"] {
    margin: 5px;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.prod-description button[type="submit"]:hover {
    transform: scale(1.1);
} 


@media screen and (max-width: 1024px) {
    .prod-description{
        margin-top: 35px;
        margin-right: 5px;
        margin-left: 5px;
        
    }
}
    
